*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x:none ;
}
.navContainer{
    width: 100vw;
    background-color: rgba(0, 0, 255, 0.523);
    min-height: 80px;
}

#navList{
    list-style: none;
 border: 2px solid green;
}
#navLogo{
    
}